<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item color="primary" detail routerLink="/notas/agregar">
    <ion-label>Agregar</ion-label>
  </ion-item>
  <!--Cards con las tareas-->
  <ion-item *ngFor="let task of noteService.obtenerNotas()">
    <ion-card class="cards-tareas">
      <ion-card-header>
        <ion-card-title class="ion-text-center"
          ><ion-badge color="warning">{{ task.id }}</ion-badge>
          {{ task.titulo }}</ion-card-title
        >
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              {{ task.descripcion }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-align-self-start botones">
              <ion-button
                color="success"
                routerLink="/notas/modificar/{{ task.id }}"
              >
                <ion-icon name="hammer-outline"></ion-icon>
              </ion-button>
              <ion-button color="danger" (click)="eliminar(task.id)">
                <ion-icon name="close-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col class="ion-align-self-center"> </ion-col>
            <ion-col class="fechaVencimiento ion-align-self-end">{{
              task.fechaVencimiento
            }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>
